@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f7f1eb;
    background-image: url("../assets/imgs/fundo-vinho2.png.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #3b1e28;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 60px 20px 40px;
    position: fixed;
}

header p {
    margin-top: 20px;
    font-size: 30px;
    color: rgba(221, 203, 187, 0.94);
    font-family: 'Cormorant Garamond', serif;
}

main {
    max-width: 900px;
    margin: -40px auto 0;
    padding: 20px;
}

.container-menu {
    background-color: #F4EBDD;
    margin: 20px 0;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 500%;
}

section {
    background-color: #F4EBDD;
    margin: 20px 0;
    padding: 30px;
    border-radius: 12px;
}

section h2 {
    margin-top: 0;
    color: #4a1f2b;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}

section p {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

div{
    height: auto;
    width: auto;
    border-radius: 25px;
}
.container-principal{
    background-color: #F4EBDD;
    display: flex;
    align-items: center;
    gap: 60px;
}

.container-principal img {
    max-width: 200px;
    height: auto;
    width: 650px; 
    height: auto;
    padding: 20px 25px;
}

h3 {
    margin-top: -10px;
    color: #4a1f2b;
    font-size: 30px;
    align-items: top;
    font-family: 'Cormorant Garamond', serif;
}

.container-texto p {
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container-texto{
    padding: 20px 10px;
}

footer, header {
  width: 100%;
  background-color: #3B0D18;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
}

.container-rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
}

.container-rodape ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-rodape a {
  color: #bbb;
  text-decoration: none;
}

.container-rodape a:hover {
  color: #fff;
}

#banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.meu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo img {
  height: 40px; 
}

.texto-header p {
  margin: 0;
  font-size: 16px;
}
