body {
    margin: 0;

    background-color: #f7f1eb;
    background-image: url("../assets/imgs/fundo-vinho2.png.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #3b1e28;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 60px 20px 40px;
}

header h1 {
    margin: 15px 0 0;
    font-size: 56px;
    color: rgba(221, 203, 187, 0.94);
}

header p {
    margin-top: 20px;
    font-size: 20px;
    color: rgba(221, 203, 187, 0.94);
}

main {
    max-width: 900px;
    margin: -40px auto 0;
    padding: 20px;
}

section {
    background-color: rgba(221, 203, 187, 0.94);
    margin: 20px 0;
    padding: 30px;
    border-radius: 12px;
}

section h2 {
    margin-top: 0;
    color: #4a1f2b;
    font-size: 30px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
  
}
div{
    height: 250px;
    width: auto;
    border-radius: 25px;
}
.container-principal{
    background-color: rgba(221, 203, 187, 0.94);
    display: flex;
    align-items: center;
    gap: 60px;
}

.container-principal img {
    max-width: 200px;
    height: auto;
    width: 650px; 
    height: auto;
    margin-top: 20px;
}

h3 {
    margin-top: 0;
    color: #4a1f2b;
    font-size: 30px;
    align-items: top;
}

.container-texto p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-left: 10px;
}

.container-texto{
    margin-top: 50px;
}
